numpy
pandas
scipy
matplotlib
seaborn
dask[array]>=2021.11.2
tqdm
statsmodels
fire
structlog
git+https://github.com/KangchengHou/dask-pgen.git#egg=dask-pgen
git+https://github.com/KangchengHou/admix-kit.git#egg=admix-kit